<html>

    <head>
        {{>headerlinks}}
    </head>

    <body>
        {{>navbar}}
        <div class="container-fluid main-header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                        <div class="col-md-6" id="main-l">
                            <img class="w-100" src="images/img1.png" alt="Second slide" />
                        </div>
                        <div class="col-md-6" id="main-r">
                            <h4>Welcome to weather app</h4>
                            <p>I am a <span class="weathertx">FULL STACK Developer</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <p>Copyright 2021 Software Development Cell</p>
        </footer>
    </body>

</html>