<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

    <head>
       {{>headerlinks}}
    </head>

    <body>
        <div class="container-fluid error">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <img class="w-50" src="images/404.png" alt="image not found">
                </div>
            </div>
        </div>
    </body>

</html>